# Virtual environments
ai_env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

external/
downloads/
videos/
*.mp4
*.jpg

Lab05/models/
*.keras
*.h5
*.pkl
# Modelos grandes
Lab05/models/
*.keras
*.h5
*.pkl
